
<div class="main">
	<div class="header-edit">
		<span class="v-center price-list-label" >PRICE LISTS</span>
		<div class="menu-bar v-center">
			<%=link_to "Guardar", "javascript:void(0)", class: "btn btn-success btn-sm margin-l-r-5" , id: "price_form_btn"%>

			<%=link_to "Cancelar", root_path, class: "btn btn-warning btn-sm margin-l-r-5" , id: "price_form_btn"%>
		</div>
	</div>
	<%=semantic_form_for :price ,url: price_list_index_path, method: :post ,html:{id: 'price_form_id'} do |f| %>
	<div class="price-search-bar">
		<div class="row">
			<div class="form-group col-sm-10">

				<label for="price">PRICE LIST NAME</label>
				<%=f.input :list_description , label:false, input_html:{class: "form-control", maxlength:"100"}%>
			</div>

			<%= f.input :list_default_mark, :as => :check_boxes, collection:{'Default Price List':true} %>


		</div>
	</div>

	<div class="main-content">
		<div class="table-responsive"> 


			<table class="table table-bordered">
				<thead>
					<tr>
						<th>SERVICES</th>
						<% @categories.each do |cats|%>
						<th><%= cats.description %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% @services.each do |service|%>
					<tr>
						<td><%= service.description%></td>
						<% @categories.each do |cats|%>
						<td class="td-input">
							<input type="" name="price[<%=service.pkservice%>][<%=cats.pkcategory%>]" class="form-control inputbox number" maxlength="10">
						</td>
						<% end %>

					</tr>
					<% end %>	
				</tbody>
			</table>
		</div>
	</div>
	<%end%>
</div>
