<table  class="index_table table">
	<thead>
		<tr>
		<th class="sortable">    Work Task</a></th>
		<th class="sortable">    Task Time</a></th>
		<th class="sortable">    Work Type</a></th>
		<th class="sortable">    Project Name</a></th>
		<th class="sortable">    Developer</a></th>
		</tr>
	</thead>
	<tbody>
		<%@monthly_dsr.each do |f|%>
		<tr>
			<td><%=f.task_name%></td>
			<td><%=f.task_time%></td>
			<td><%=f.task_type%></td>
			<td><%=f.project.try(:name)%></td>
			<td><%=f.developer.email%></td>
		</tr>
		<%end%>
	</tbody>
</table>