<div class="row">
<div class="col-md-4 col-xs-push-4 login_panel" >
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
  <%= f.label 'Email or Username' %><br />
    
    <%= f.text_field :login, autofocus: true, class:"form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :password %><br />
    
    <%= f.password_field :password, autocomplete: "off" ,class:"form-control"%>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions text-center">
    <%= f.submit "Log in", class:'btn btn-primary text-center' %>
  </div>
  <% if flash.present? %>
  <br>
    <div class="alert alert-danger fade in" id="flash_error">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%=flash.first[1]%>
    </div>
    <% end %>
<% end %>
<script>

$(document).ready(function(){
  $(".alert").delay(2000).slideUp(200, function() {
      $(this).alert('close');
  });
});
</script>
</div>
</div>