<div class="container" id="main">
<h2>Dailly Status Report</h2>
	
		<hr>
			<%= form_for @todo ,url:  todos_path ,method: :post, html:{id:"todo_form" } do |f| %>
			
			
			<div class="form-group col-md-12">
				<div class="col-4">
					<label for="example-text-input" class="col-2 col-form-label">Select Project Name</label>
				</div>
				<div class="col-4">
				<%= f.select(:project, Project.all.map{|x| [x.name,x.id]}, {}, { :class => 'form-control' , name: "todo[task_project]" }) %>
				</div>
			
			</div>
			
			<div  id="fieldList" class="col-md-12">

			<div class="panel panel-default">
  				<div class="panel-body">
							
					<div class="form-group col-md-7">
						<div class="col-4">
							<label for="example-text-input" class="col-2 col-form-label">Task Name</label>
						</div>
						<!--  -->
						<div class="col-4">
							<%=f.text_area :task_name ,class: "form-control taskname" ,placeholder: 'Today Task', name:'todo[task_name][]', Maxlength: 100 %>
						</div>
					</div>
				

					
					
					<div class="col-md-5">
						<div class="form-group">
						<label for="example-text-input" class="col-2 col-form-label">Task Duration</label>
						</div>
						<div class="form-group">
							<div class="col-md-6">
							<%= select_tag :hourss, options_for_select(8.times.map{|i| i}),prompt:"Select hours",class: "form-control", name:'todo[hours][]' %>
							</div>
							<div class="col-md-6">
							<%= select_tag :minutes, options_for_select( 60.times.map{|i| i if i<60}),prompt:"Select Minute", class: "form-control", name:'todo[minutes][]' %>
							</div>
						</div>

						
						
					</div>
				
		     </div>
		    </div>
		   </div>
			
				<button type="button" id="addMore" class="btn btn-btn-primary">Add more 🌴</button>
				<%=f.submit "Submit DSR" ,class: "btn btn-success"%>
				<%=link_to "Cancel DSR" , root_path,class: "btn btn-danger pull-right"%>
				<%end%>

			
	
		
	
	</div>

	<script type="text/javascript">
		$(function() {
			$("#addMore").click(function(e) {
				e.preventDefault();
				$("#fieldList").append(" <div class='panel panel-default'><button id='remove' class='btn btn-danger btn-xs' type='button' onclick='return remove_field(this);'>remove</button> <div class='panel-body'><div><div class='form-group col-md-7'> <div class='col-4'> <label for='example-text-input' class='col-2 col-form-label'>Task Name</label> </div> <div class='col-4'> <textarea class='form-control taskname' placeholder='Today Task' name='todo[task_name][]' maxlength='100' id='todo_task_name'></textarea> </div> </div> <div class='form-group '><div class='col-md-5'> <div class='form-group'> <label for='example-text-input' class='col-2 col-form-label'>Task Duration</label> </div> <div class='form-group'> <div class='col-md-6'> <select name='todo[hours][]' id='hours' class='form-control valid' aria-invalid='false'><option value=''>Select hours</option><option value='0'>0</option> <option value='1'>1</option> <option value='2'>2</option> <option value='3'>3</option> <option value='4'>4</option> <option value='5'>5</option> <option value='6'>6</option> <option value='7'>7</option></select> </div> <div class='col-md-6'> <select name='todo[minutes][]' id='minutes' class='form-control valid' aria-invalid='false'><option value=''>Select Minute</option><option value='0'>0</option> <option value='1'>1</option> <option value='2'>2</option> <option value='3'>3</option> <option value='4'>4</option> <option value='5'>5</option> <option value='6'>6</option> <option value='7'>7</option> <option value='8'>8</option> <option value='9'>9</option> <option value='10'>10</option> <option value='11'>11</option> <option value='12'>12</option> <option value='13'>13</option> <option value='14'>14</option> <option value='15'>15</option> <option value='16'>16</option> <option value='17'>17</option> <option value='18'>18</option> <option value='19'>19</option> <option value='20'>20</option> <option value='21'>21</option> <option value='22'>22</option> <option value='23'>23</option> <option value='24'>24</option> <option value='25'>25</option> <option value='26'>26</option> <option value='27'>27</option> <option value='28'>28</option> <option value='29'>29</option> <option value='30'>30</option> <option value='31'>31</option> <option value='32'>32</option> <option value='33'>33</option> <option value='34'>34</option> <option value='35'>35</option> <option value='36'>36</option> <option value='37'>37</option> <option value='38'>38</option> <option value='39'>39</option> <option value='40'>40</option> <option value='41'>41</option> <option value='42'>42</option> <option value='43'>43</option> <option value='44'>44</option> <option value='45'>45</option> <option value='46'>46</option> <option value='47'>47</option> <option value='48'>48</option> <option value='49'>49</option> <option value='50'>50</option> <option value='51'>51</option> <option value='52'>52</option> <option value='53'>53</option> <option value='54'>54</option> <option value='55'>55</option> <option value='56'>56</option> <option value='57'>57</option> <option value='58'>58</option> <option value='59'>59</option></select> </div> </div> </div> </div></div></div></div>"); 
				$("#fieldList").find('.taskname:last').focus();
			});

			
		});

		function remove_field(field){
			$(field).parent().remove();
		}
		$(document).ready(function(){

	$("#todo_form").validate({
		rules: {
            "todo[task_project]": {
                required: true,
               
            },
            "todo[task_name][]": {
                required: true,
                minlength: 5
            },

             "todo[task_time][]": {
                required: true,
                minlength: 2
            }
        },
        messages:{
        	"todo[task_project]": {
                required: "Please select project",
               
            },
            "todo[task_name][]": {
                required: "Please enter task name",
                minlength: "Please enter atleast 5 characters"
            },

             "todo[task_time][]": {
                required: "Please enter task duration",
                minlength: "Please enter minimum 2 characters"
            }
        },
        submitHandler: function(form) {
            form.submit();
        }

	});


});
	</script>


