
<div class="container" id="main">
<h2>Today's R & D</h2>
	
		<hr>
			<%= form_for :todo ,url:  submit_research_todos_path ,method: :post, html:{id:"rnd_form" } do |f| %>
			
			
			
			<div  id="fieldList" class="col-md-12">

			<div class="panel panel-default">
  				<div class="panel-body">
							
					<div class="form-group col-md-8">
						<div class="col-4">
							<label for="example-text-input" class="col-2 col-form-label">Topic Name</label>
						</div>
						<!--  -->
						<div class="col-4">
							<%=f.text_area :task_name ,class: "form-control taskname" ,placeholder: 'Topic Name', name:'todo[task_name][]', Maxlength: 100 %>
						</div>
					</div>
				
					<div class="form-group">
						<div class="col-md-2">
							<label for="example-text-input" class="col-2 col-form-label">Duration</label>
						</div>
						<div class="col-md-4">
							<%=f.text_field :task_time ,class: "form-control" ,placeholder: 'Duration ' , name:'todo[task_time][]', Maxlength: 10 %>
						</div>
					</div>
				
		     </div>
		    </div>
		   </div>
			
				<button type="button" id="addMore" class="btn btn-btn-primary">Add more 🌴</button>
				<%=f.submit "Submit R&D" ,class: "btn btn-success"%>
				<%=link_to "Cancel R&D" , root_path,class: "btn btn-danger pull-right"%>
				<%end%>

			
	
		
	
	</div>

	<script type="text/javascript">
		$(function() {
			$("#addMore").click(function(e) {
				e.preventDefault();
				$("#fieldList").append(" <div class='panel panel-default'><button id='remove' class='btn btn-danger btn-xs' type='button' onclick='return remove_field(this);'>remove</button> <div class='panel-body'><div><div class='form-group col-md-8'> <div class='col-4'> <label for='example-text-input' class='col-2 col-form-label'>Topic Name</label> </div> <!--  --> <div class='col-4'> <textarea class='form-control taskname' placeholder='Topic Name' name='todo[task_name][]' maxlength='100' id='todo_task_name'></textarea> </div> </div> <div class='form-group '> <div class='col-md-2'> <label for='example-text-input' class='col-2 col-form-label'>Duration</label> </div> <div class='col-md-4'> <input class='form-control' placeholder='Duration' name='todo[task_time][]' id='todo_task_time' type='text' maxlength=10> </div> </div></div></div></div>"); 
				$("#fieldList").find('.taskname:last').focus();
			});

			
		});

		function remove_field(field){
			$(field).parent().remove();
		}
		
		$(document).ready(function(){
			$("#rnd_form").validate({
        rules: {
            
            "todo[task_name][]": {
                required: true,
                minlength: 5
            },

             "todo[task_time][]": {
                required: true,
                minlength: 2
            }
        },
        messages:{
          
            "todo[task_name][]": {
                required: "Please enter topic name",
                minlength: "Please enter atleast 5 characters"
            },

             "todo[task_time][]": {
                required: "Please enter duration",
                minlength: "Please enter minimum 2 characters"
            }
        },
        submitHandler: function(form) {
            form.submit();
        }

    });



		})
	</script>
