<div class="main" id="main">
    <h2>Applied Leave</h2>
    <hr>
    <div class="main-content">
        <div class="table-responsive">          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="th-default">Leave Day</th>
                        <th class="th-default">From</th> 
                        <th class="th-default">To</th>

                          <th class="th-default">Status</th>
                        <th class="th-default">Reason</th>                         
                    </tr>
                </thead>
                <tbody>
                <%@apply_leaves.each do |apply_leave|%>
                   
                    <tr>
                        <td><%=apply_leave.total_leave%></td>                        
                        <td>
                            <%=apply_leave.start_date%>
                        </td>
                        <td>
                            <%=apply_leave.end_date%>
                        </td>
                        <td>
                            <%=apply_leave.status%>
                        </td>
                        <td>
                            <%=apply_leave.reason%>
                        </td>
                       
                    </tr>
                    <%end%>
                </tbody>

            </table>           

        </div>
    </div>
</div>

