<table class="table table-bordered">
                <thead>
                    <tr><th>Sr.</th>
                        <th class="th-default">Day/Date</th>
                        <th class="th-default">1st Half</th>
                        <th class="th-default">2nd Half</th>
                        <th class="th-default">Punch-In-Time</th>
                        <th class="th-action">Punch-Out-Time</th>
                        <th class="th-action">Lat In</th>
                        <th class="th-action">Early Out</th>
                        <th class="th-action">Work Hour</th>
                        <th class="th-action">Extra Work(H:M)</th>
                    </tr>
                </thead>
                <tbody class="font-low">
                <% if @attendances.present? %>
                    <% @attendances.each_with_index do |attendance, index| %>
                    <% if [7,14,21,28].include?(index) %>
                    <tr>
                    <td colspan="8">
                    <hr>
                    </td>
                    </tr>
                    <% end%>
                    <tr>
                    <td><%= index+1 %></td>
                        <td style="background-color: <%=day_color(attendance.created_at.strftime("%A"))%>; color:white;"><%= attendance.created_at.strftime("%A")%><br><%= attendance.created_at.strftime("%d-%B-%Y")%></td>
                        <td> <%= attendance.first_half==true ? "PR" : attendance.first_half==false ? "AB" : ".." %></td>

                       
                        <td> <%= attendance.second_half==true ? "PR" : attendance.second_half==false ? "AB" : ".." %> </td>
                            <!-- strftime("%A %d-%B-%Y at %I:%M %p") -->
                        <td>
                            <%= attendance.punch_in_time.present? ? attendance.punch_in_time.strftime("%I:%M %p") : ".." %>
                        </td>
                        <td>
                            <%= attendance.punch_out_time.present? ? attendance.punch_out_time.strftime("%I:%M %p") : ".."%>
                        </td>
                         <td>
                            <%= attendance.lat_in.present? ? "#{attendance.lat_in.hour} hour : #{attendance.lat_in.min} min" : ".."%>
                        </td>
                         <td>
                            <%= attendance.early_out.present? ? attendance.early_out : ".."%>
                        </td>
                        <td>
                            <%= attendance.work_hour.present? ? attendance.work_hour : ".."%>
                        </td>

                         <td>
                            <%= attendance.extra_work.present? ? attendance.extra_work : ".."%>
                        </td>
                    </tr>
                    <% end %>

                </tbody>

            </table> 
            
                <%= paginate @attendances %>
            </div>
            <% end %>           