
<div class="main" id="main">
    <h2>Dailly Attendances</h2>
    <hr>
    <div class="main-content">
        <div class="table-responsive">          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="th-default">Date and Time</th>
                        <th class="th-default">Punch-In-Time</th>
                        <th class="th-action">Punch-Out-Time</th>
                        <th class="th-action">Lat In</th>
                        <th class="th-action">Early Out</th>
                        <th class="th-action">Work Hour</th>
                        <th class="th-action">Extra Work(H:M)</th>
                    </tr>
                </thead>
                <tbody class="font-low">

                    <% @attendances.each do |attendance| %>
                    <tr>
                        <td><%= attendance.created_at.strftime("%A %d-%B-%Y at %I:%M %p")%></td>
                        <td>
                            <%= attendance.punch_in_time.present? ? attendance.punch_in_time.strftime("%I:%M %p") : "Punch Missed" %>
                        </td>
                        <td>
                            <%= attendance.punch_out_time.present? ? attendance.punch_out_time.strftime("%I:%M %p") : ".."%>
                        </td>
                         <td>
                            <%= attendance.lat_in.present? ? "#{attendance.lat_in.hour-10} hour : #{attendance.lat_in.min} min" : ".."%>
                        </td>
                         <td>
                            <%= attendance.early_out.present? ? early_out(attendance.early_out) : ".."%>
                        </td>
                        <td>
                            <%= attendance.work_hour.present? ? attendance.work_hour : ".."%>
                        </td>

                         <td>
                            <%= attendance.extra_work.present? ? attendance.extra_work : ".."%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>

            </table>
            
            <div class="page-switch">
                <%= paginate @attendances %>
            </div>

        </div>
    </div>
</div>
