
<div class="main" id="main">
    <h2>Dailly Attendances</h2>
    <div class="main-content">
        <div class="table-responsive">          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="th-default">Date and Time</th>
                        <th class="th-default">Punch-In-Time</th>
                        <th class="th-action">Punch-Out-Time</th>
                        <th class="th-action">Lat In</th>
                        <th class="th-action">Lat Out</th>
                        <th class="th-action">Extra Work(H:M)</th>
                    </tr>
                </thead>
                <tbody>

                    <% @attendances.each do |attendance| %>
                    <tr>
                        <td><%= attendance.created_at.ctime %></td>
                        <td>
                            <%= attendance.punch_in_time.present? ? attendance.punch_in_time.strftime("%I:%M %p") : "Punch Missed" %>
                        </td>
                        <td>
                            <%= attendance.punch_out_time.present? ? attendance.punch_out_time.strftime("%I:%M %p") : "Punch Missed"%>
                        </td>
                         <td>
                            <%= attendance.lat_in.present? ? attendance.lat_in : ".."%>
                        </td>
                         <td>
                            <%= attendance.lat_out.present? ? attendance.punch_out_time : ".."%>
                        </td>
                         <td>
                            <%= attendance.extra_work.present? ? attendance.extra_work : ".."%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="page-switch">
    <%= paginate @attendances %>
</div>
