<!DOCTYPE html>
<html>
<head>
  <title>Arka|Attendance|System</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css">
    .form-control:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
    }
  </style>
</head>

<body>
<% unless current_developer.present?%>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="brand">
        <%= link_to "Arka Softwares", root_path, class: "navbar-brand" %>
        
        </div>
      </div>

      
    </div>
  </nav>
  <div class="container">

    <%= yield %>
  </div>
  <% else %>
  
  <div class="nav-side-menu">
    <div class="brand">Arka Softwares<span class="badge pull-right">Developer</span></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li><i class="fa fa-user fa-lg">
                <a href="#">
                     <%=link_to"Developer Dashboard", root_path%><span class="arrow"></span>
                </a>
            </li>
            <li >
             
                <% if punch_out?%>
                <%=link_to ("<i class='fa fa-user fa-lg'>Punch-Out").html_safe, punch_out_path%><span class="arrow"></span>
                <% end %> 
             
            </li>
           

            <li data-toggle="collapse" data-target="#new" class="collapsed">
           
                <a href="javascript:void(0)">To Do</a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li><%=link_to ("Today Task").html_safe, new_todo_path%></li>
                 <li><%=link_to ("R & D").html_safe, today_research_todos_path%></li>
                
            </ul>
            <li>
                
              
                <%=link_to ("Profile").html_safe, get_developer_profile_path%><span class="arrow"></span>
            </li>
            <li>
                    <%= link_to "Log Out", destroy_developer_session_path , method: :delete%><span class="arrow"></span>
               
            </li>
        </ul>
    </div>
</div>

  <div class="container">

    <%= yield %>
  </div>
  <script type="text/javascript">
    $("#price_form_btn").click(function(){
      $("#price_form_id").submit();
    });
    $('.number').keypress(function(event) {
      if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
        event.preventDefault();
      }
    });
  </script>
  <% flash.each do |key, value| %>
  <script>
    Lobibox.notify('info', {
      title:"Arka Softwares",
      delay: 5000,  
      delayIndicator: true,
      msg: "<%= value %>",
      icon: false,
    });
  </script>


  <% end %>
<% end%>
</body>
</html>
