<!DOCTYPE html>
<html>
<head>
  <title>Arka|Attendance|System</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css">
    .form-control:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
    }
  </style>
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css">
</head>

<body>
  <% unless current_developer.present?%>
 
  <div class="container">

    <%= yield %>
  </div>
  <% else %>

  <div class="nav-side-menu">
 
    <div class="brand">Arka Softwares</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li><i class="fa fa-user fa-lg">
          <a href="#">
            <%=link_to ("Developer Dashboard"), root_path%>
            <% if @notification.present? %>
            <%=link_to ("<span class='badge' style='background-color:#b15be1 !important;; color:white;'>(#{@notification})</span>").html_safe, notification_index_path%>
            <% end %>
          </a>
        </li>
        <li>
        <%=link_to ("<p> Login As #{current_developer.name}").html_safe, get_developer_profile_path %></li>
        <li >
          <% if punch_out? %>
          <%=link_to ("<p>Punch-Out</p>").html_safe, punch_out_path%>
          <% end %> 
        </li> 
                
          <li><%=link_to ("<p>DSR</p>").html_safe, todos_path%></li>
                    
         <li>
          <%=link_to ("<p>Leave Balance</p>").html_safe,  leaves_path  ,method: :get%>
        </li>

        <li>
          <%=link_to ("<p>Applied Leave</p>").html_safe,  apply_leaves_path  ,method: :get%>
        </li> 
         <li>
          <%= link_to ("<p>Log Out</p>").html_safe, destroy_developer_session_path , method: :delete%>
        </li>      
      </ul>
    </div>
  </div>

  <div class="container">

    <%= yield %>
  </div>
  <script type="text/javascript">

    $("#price_form_btn").click(function(){
      $("#price_form_id").submit();
    });
    $('.number').keypress(function(event) {
      if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
        event.preventDefault();
      }
    });

    $("#filter_date").datepicker({
       onSelect: function(dateText, inst) {
      $("#filter_by_form").submit();
    },
    })
  </script>
  <% flash.each do |key, value| %>
  <script>
    Lobibox.notify('info', {
      title:"Arka Softwares",
      delay: 5000,  
      delayIndicator: true,
      msg: "<%= value %>",
      icon: false,
      sound: false
    });
  </script>


  <% end %>
  <% end%>
</body>
</html>
